@import url("styles.css");
/* CSS Document */
	


html, body{
    height: 100%;
	color:#fafafa;
}


/** form elements */
.login-form ::-webkit-input-placeholder {
   color: #c7c7c7 !important;
}

.login-form :-moz-placeholder { /* Firefox 18- */
   color: #c7c7c7 !important; 
}

.login-form ::-moz-placeholder {  /* Firefox 19+ */
   color: #c7c7c7 !important; 
}

.login-form :-ms-input-placeholder {  
   color: #c7c7c7 !important; 
}
.login-form a,
.login-form label{
	font-size:18px;
	font-weight:400;	
}

.login-form label{
	color:#fafafa !important;
	margin-bottom:8px;
}

.login-form .form-control{
	border-radius:0;	
	color:#fafafa !important;
	background-color:#2a2a2a !important;
	box-shadow:none;
	border-color:#2a2a2a !important;
	border-width: 1px;
	padding: 18px 12px;
	font-size:18px;
}
@-moz-document url-prefix() { 
	.login-form .form-control{
		padding: 5px 10px;
		height: 39px;

	}
}

.login-form .btn{
	font-size:18px;	
}
.login-form .form-group{
	margin-bottom:20px;	
}
.form-group-gap{
	margin-bottom:25px !important;	
}

.logo{

}
h3{
	font-size: 30px;
	font-weight: 100;
	color: #fff;
	margin-bottom:25px;	
	font-family:'Eurostile', sans-serif;
}

.login-form{
	max-width:320px;
	margin:20px auto;	
}

.btn{
	min-width:100px;	
}
.login-ckbox{
	margin-top:3px;
	margin-bottom:0;
}
.login-ckbox label span{
	display:inline-block;
	padding-left:10px;	
}
.valign-m{
	line-height:36px;	
}

/** Tablet */
@media only screen and (max-width: 990px){
	.logo{
		width:90%;	
	}
}




