/* CSS Document */

/** Google font */
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/** 
	Abbrs
	
	bs = bootstrap


*/

@font-face {
    font-family: Euros;
    src:url(../fonts/Eurostile/eurostile.TTF);
}
html{
	background:#fff;
}
body{
	height:100%;	
	background-color:#1a1a1a;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

body,
p{
	color:#1d1d1d;	
}
a{
	color:#b7db27;		
}
a:hover,
a:focus,
a:active,
a.active{
	color:#b7db27;		
}
aside{
	display: block;
	background: #1a1a1a;
	min-height: 100%;
	width:345px;	
}

.clear {
	clear: both;
}

/** backgrounds */
.primary-bg{
	background-color:#000000;	
}
.secondary-bg{
	background-color:#1a1a1a;	
}
.white-bg{
	background-color:#fff;	
}

/** Typography */
h3{
	padding-top: 20px;
	/* padding-bottom: 5px; */
	font-weight: 400;
	font-size: 20px;
}



/** Top Header */
#header{
	display: block;
	height: 45px;
	background-color:#1a1a1a;
	z-index: 9905;	
	position:fixed;
	width:100%;
}

#left-panel{
	position:absolute;
	top: 0;
	left: 0;
	z-index: 904;
	padding-top: 45px;	
}
#left-panel-logo{
	position:fixed;
	bottom:0;
	width:345px;
	padding:30px;	
}
#left-panel-logo img{
	width:100%;	
}
#top-group .nav li{
	float:left;
	height:100%;
	color:#b7b7b7;
}
#top-group .nav > li > a:after{
	content: " ";
	color: #fff;
	border-left: 1px solid #fff;
	position: absolute;
	top: 6px;
	height: 32px;
	margin-left:15px;
}
#top-group .nav ul li{
	width:100%;	
}
#top-group .nav ul{
	width:100%;
	border-color:#1a1a1a;
	position:relative;
	background-color:#1a1a1a;
	border-radius:0;
	padding-top:0;
	margin-top:1px;
}
#top-group .nav li a{
	color:#b7b7b7;
	padding-top: 9px;
	padding-bottom: 7px;
	font-size:20px;
	font-weight:200;
}
#top-group .nav>li>a:hover, 
#top-group .nav>li>a:focus,
#top-group .nav>li>a:active,
#top-group .nav>li>a.active{
	background-color:transparent;	
}

#top-group .nav .open>a, 
#top-group .nav .open>a:hover, 
#top-group .nav .open>a:focus{
	background-color:transparent;	
}
#top-group .nav li a:hover,
#top-group .nav li a:focus,
#top-group .nav li a.active,
#top-group .nav li a:active{
	background-color:#2b2b2b;
}

#top-group .nav li a .fa{
	color:#fff;
}


/** left nav */
nav{
	color:#fff;	
}

nav .panel{
	margin-bottom:0;
	background-color:transparent;
	border:none;
	box-shadow:none;	
	float:left;
	width:100%;
}

nav ul{
	list-style:none;
}
nav > ul > li > a{
	height:50px;
}
nav ul ul{
	padding-left:0;	
}
nav .nav>li>a:hover, 
nav .nav>li>a:focus,
nav .nav>li>a:active,
nav .nav>li>a.active{
	background-color:#2b2b2b;	
}

nav .nav > li > a.active:before {
	content: "\f0d9";
	font-family: FontAwesome;
	display: block;
	line-height: normal;
	width: 27px;
	position: absolute;
	right: -16px;
	font-size: 36px;
	color: #fff;
	line-height: 35px;
}

.nav-pointer-backdrop:before{
	color:rgba(255,255,255,0.41) !important;
}
.nav-pointer-backdrop-2:before{
	color:rgba(255,255,255,0.09) !important;
}

nav a{
	color:#fff;	
}
nav .nav > li > a{
	padding: 20px 25px;
	height: 70px;
}
nav .nav > li > a > .fa-fw{

}
nav .nav li a{
	font-size: 26px;
	font-weight: 100;
	letter-spacing: 1px;	
}
nav .nav > li > a{
	font-family:'Eurostile', sans-serif;	
}
nav .nav ul li a{
	font-size: 20px;
	padding: 6px 30px;
	float: left;
	width:100%;
}

nav .nav li a .fa{
	color:#fff;	
	font-size:38px;
}
nav .nav li a > span{
	position:absolute;
	margin-left:20px;
}

.nav-hr{
	height: 1px;
	background-color: #2b2b2b !important;
	width: 295px !important;
	margin-left: 25px;
}
/** top and side cart */
.cart{
	color:#fff;	
	min-width:250px;	
}
.cart-header{
	display:block;
	padding:15px;	
}
.cart .cart-contents{
	background-color:#2b2b2b;	
}
.cart table{
	width:100%;
}
.cart table td{
	border-bottom:1px solid #5a5a5a;
	padding:10px 0;	
	line-height:14px;
}
.cart table tr:last-child td{
	border-bottom:none;	
}
.cart div:last-child{
	padding-top:15px;
	padding-bottom:10px;	
}

.primary-header{
	border-bottom:3px solid #b7db27 !important;
	margin-bottom:30px !important;
}
.primary-header:after{
	content: "\f0d8";
	font-family: FontAwesome;
	display: block;
	line-height: normal;
	width: 27px;
	position: absolute;
	font-size: 26px;
	color: #b7db27;
	line-height: 35px;
	margin-left: 100px;
	margin-top: -1px;
}
/** tab */
.tab-pane {
	margin: 10px 0;
}

/** table */
.table i.fa {
	margin-right: 5px;
}
.table-cell{
	padding-left:10px;	
}
.col-center {
	text-align: center;
}
.table-alt{
	width:90%;	
}
.table-alt .pulled-icon{
	margin-right: -58px !important;
	padding-left: 28px;
	padding-right: 10px;	
}
.table-alt .table-alt-group {
	margin: 0;
	padding: 0;
}
.table-alt .table-alt-group input.form-control {
	padding: 0;
	padding-right: 5px;
	float: left;
}
.table-alt .table-alt-group .pulled-icon{
	margin-top: -28px !important;
}
@-moz-document url-prefix() { 
	.table-alt .table-alt-group .pulled-icon{
		margin-right: -51px !important;
	}
}

.table-expanded th,
.table-expanded td{
	vertical-align:middle !important;	
	line-height:32px !important;
}
tfoot tr td{
	border-bottom:1px solid #ddd;	
}

/** popover */
.link {
	cursor: pointer;
}
.popover.popover-options {
	margin-top: -27px;
	border-radius: 0;
	padding: 0;
	border-color: #eee;
}
.popover.popover-options .popover-inner {
	border-radius: 0;
}
.popover.popover-options .popover-title {
	font-weight: bold;
	border-radius: 0;
}
/** dropdown menu */
.btn-group-action .caret {
	margin-left: 5px;
}
.btn-group-action .dropdown-menu {
	margin-bottom: 3px;
	border-radius: 0;
	padding: 0;
}
.btn-group-action .dropdown-menu li {
	margin: 0;
	padding: 0;
}
.btn-group-action .dropdown-menu li a {
	padding: 10px 20px;
}
.btn-group-action .dropdown-menu li a i.fa {
	width: 20px;
}
.btn-group label {
	line-height: 33px;
	margin-right: 10px;
}
.btn-group-autowidth .dropdown-menu {
	min-width: 0;
}
.btn-group-action .dropdown-menu li a:hover {
	background: #B7DB27;
}

/** datatables */
.dataTables_wrapper .top{
	margin-top: -115px;
	width: 370px;
	float: right;	
}
.dataTables_wrapper .top > .dataTables_info{
	display:none;
}
.dataTables_wrapper .top > .manify{
	font-size:20px;	
}
.dataTables_filter {
	float: right;
}
.dataTables_filter input {
	border: 0;
	background: #f5f5f5;
	padding: 8px 10px;
	margin-left: 10px;
	width: 200px;
	font-size: 18px;
	font-weight: 300;
}
.dataTables_filter input::-webkit-input-placeholder {
   color: #ccc;
}

.dataTables_filter input:-moz-placeholder { /* Firefox 18- */
    color: #ccc; 
}

.dataTables_filter input::-moz-placeholder {  /* Firefox 19+ */
    color: #ccc; 
}

.dataTables_filter input:-ms-input-placeholder {  
    color: #ccc; 
}
.dataTables_wrapper .icheckbox_square, 
.dataTables_wrapper .iradio_square{
	margin-right:5px;
}

.dataTables_length {
	float: right;
}
.dataTables_length .select2-container {
	margin-left: 8px;
}
.paginate_button {
	padding: 3px 8px;
	border: 1px solid #ccc;
	margin: 2px;
	color: #666;
	font-weight: normal;
}
.paginate_button.current {
	color: #000;
	font-weight: bold;
}
.dataTables_length label select {
	margin-left: 5px;
}

/** select2 */
.select2-container .select2-choice,
.select2-container.select2-drop-above .select2-choice,
.select2-drop,
.select2-drop.select2-drop-above,
.select2-container .select2-choice .select2-arrow,
html[dir="rtl"] .select2-container .select2-choice .select2-arrow,
.select2-search input,
.select2-container-multi .select2-choices .select2-search-choice {
	border-radius: 0;
	background: #fff;
}
.select2-container .select2-choice {
	background: #fff;
}
.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active, 
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices,
.select2-container-multi.select2-container-active .select2-choices {
	border-color: #ccc;
}
.select2-input {
}
.select2-choice {
	padding: 4px;
}
.select2-container .select2-choice {
	height: 34px;
	padding-top:3px;
	background: #fff;
}
.select2-container .select2-choice abbr {
	width: 24px;
	height: 18px;	
}
.select2-container .select2-choice .select2-arrow {
	margin: 0 10px;
	padding-left: 5px;
	background: #fff;
}
.select2-container .select2-choice .select2-arrow b {
}
.select2-container .select2-choice > .select2-chosen {
	margin-right: 36px;
}
.select2-results .select2-highlighted {
	background: #B7DB27;
	color: #000;
}

.select-2-alt{
	border: 2px solid #ccc;	
}


.select-alt{
	min-width: 120px;
	border: 2px solid #ccc;
	height: 40px;
	border-left: 0;
	padding: 1px 0;	
}
.select-alt .select2-choice{
	margin-top: -18px;
	margin-left: -12px;
	margin-right: -12px;
	height: 36px;
	border: none;	
}
.table-select2 .select2-choice{
	border: none;
	padding: 0;
	margin: 0;
	height: 20px;
	margin-top: -10px;	
}

.table-select2 .select2-arrow{
	border-left:none !important;	
}
/** pagination */
.pagination {
	margin: 0;
}
.pagination > li:first-child a,
.pagination > li:last-child a {
	
	border-radius: 0;
}
.pagination > li a {
	padding: 3px 8px;
	margin: 2px;
}

/** buttons */
.btn{
	border-radius:0;	
	color:#1d1d1d;
	font-size:18px;
}
.btn-muted{
	background-color:#f5f5f5;
	border-color:#f5f5f5;	
}
.btn-default{
	/** bs default */	
}
.btn-info{
	/** bs default */	
}
.btn-success{
	background-color:#badc1b;
	border-color: #d9f95f;	
}
.btn-warning{
	/** bs default */	
}
.btn-danger{
	/** bs default */	
}
.btn-default-alt{
	background-color:#bdbdbd;
	border-color: #bdbdbd;	
}


.btn-success:hover,
.btn-success:focus,
.btn-success.active,
.btn-success:active{
	background-color:#badc1b;
	border-color: #d9f95f;	
}
	
.btn-default-alt:hover,
.btn-default-alt:focus,
.btn-default-alt.active,
.btn-default-alt:active{
	background-color:#fff;
	border-color:#adadad;
	color: #1d1d1d;	
}

/** form elements */
::-webkit-input-placeholder {
   color: #1d1d1d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #1d1d1d; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #1d1d1d; 
}

:-ms-input-placeholder {  
   color: #1d1d1d; 
}

label{
	color:#919191;
	font-weight:400;	
}
.form-control{
	border-radius:0;	
	color:#1d1d1d;
	background-color:#fafafa;
	box-shadow:none;
	border-color:#d6d6d6;
	border-width: 2px;
	padding: 18px 12px;
}
.radio label, 
.checkbox label{
	padding-left:0;
}

/** Content */
#main{
	margin-left: 345px;
	padding-top: 45px;
	height:100%;
}
#content{
	padding-left: 30px;
	padding-right: 30px;
	padding-top:15px;
	width:100%;
	float:left;
	height:100%;
	background-color:#fff;
}

/** 
	Modal
	pm = page modal 

*/
.modal-title > span{
	margin-top: 5px;
	position: absolute;
	display: inline-block;
	margin-left: 15px;	
}
.modal-backdrop-alt{
	margin-left:345px;
	margin-top:45px;	
}
.page-modal{
	top: 45px;
	width: 100%;
	padding-left: 420px;
	min-height: 600px;
}
.page-modal .modal-header{
	border-bottom:none;	
}
.page-modal .modal-title{
	color: #595959;
	font-size: 40px;
	font-weight: 300;
	padding-left:20px;
}
.modal-title{
	font-family:'Eurostile', sans-serif;	
}

.page-modal .modal-dialog{
	margin-top:0;
	width:100%;
}	
.page-modal .modal-content{
	border:none;
	border-radius:0;
	min-height:1000px;
	float: left;
	margin-top: -107px;
	width: 100%;
}

.modal-backdrop-alt-2{
	margin-left:345px;
	margin-top:45px;	
	z-index:1050;
}
.page-modal-2{
	padding-left:500px;	
	z-index:1060;
}
.page-modal-sml{
	z-index:1070;	
	top:10%;
}

.page-modal-head{
	border-bottom: 2px solid #B7DB27;
	padding-bottom: 12px;
	font-size: 20px;
	margin-top: 7px;	
}


.page-modal.fade {
  left: 100%;
  height:100%;
  -webkit-transition: opacity 0s linear, left 0.2s linear;
     -moz-transition: opacity 0s linear, left 0.2s linear;
       -o-transition: opacity 0s linear, left 0.2s linear;
          transition: opacity 0s linear, left 0.3s linear;
}

.page-modal.fade.in {
  left:0;
}
.pm-lt-caret{
	float: left;
	margin-left: -11px;
	margin-top: 56px;
	color: #fff;
	z-index: 1010;
	position: relative;
	font-size: 36px;	
}
.table-page-modal > thead > tr > th{
	border-color:#B7DB27;
}
.table-page-modal tbody tr td{
	vertical-align:middle;
}
.table-page-modal tbody{
	color:#595959;	
}
.table-page-modal tr td:first-child{
	color: #191919;
	font-weight: 600;	
}

.table-page-modal tr td:first-child{
	width:200px;	
}
.table-page-modal .w-200{
	width:200px;	
}
.table-page-modal .inner-table .btn{
	margin-right:50px;	
}
.hint{
	text-decoration:underline;
	cursor:pointer;	
}
tbody.no-border td{
	border-top:none !important;	
}
.modal .has-datatable .dataTables_wrapper{
	float:right;
	display:inline-block;	
}
.modal .has-datatable .dataTables_wrapper .top{
	margin-top:0 !important;
	
}
.body-scroll{
	height:300px;
	overflow:auto;
}
.modal .has-datatable .body-scroll .dataTables_wrapper .top{
	position: fixed;
	margin-top: -64px !important;
	right: 40px;
	
}
.data-table-info{
	line-height:42px;
	display:block;
	padding-bottom:20px;	
}
.v-middle td{
	vertical-align:middle !important;	
}
/** Tab Elements */
.nav-tabs {
	border-bottom: 2px solid #B7DB27;
}
.nav-tabs > li a {
	color: #8c8c8c;
	font-family:'Eurostile', sans-serif;
	font-size:25px;
}
.nav-tabs > li:first-child a{
	padding-left:0;	
}
.nav-tabs > li.active a,
.nav-tabs > li.active a:hover,
.nav-tabs > li.active a:focus {
	outline: none;
	border: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	outline: none;
	background: transparent;
	border-color: transparent;
}
.nav-tabs > li:hover a:before,
.nav-tabs > li.active a:before {
	text-align: center;
	margin-left: -15px;
	content: "\f0d8";
	font-family: FontAwesome;
	display: block;
	height: 27px;
	line-height: normal;
	width: 100%;
	position: absolute;
	bottom: -14px;
	font-size: 20px;
	color: #B7DB27;
}

.nav-alert{
	font-size: 15px !important;
	margin-top: -45px;
	margin-left: 35px;
	float:left;
}
.input-group-addon{
	border-radius:0;
	border-width:2px;	
	background-color:#fafafa;
	padding-right: 0;
	font-size:18px;	
	border-right:none;
	color:#c5c5c5;
}
.has-prepend-input{
	border-left:none;	
	padding-left:0;
}
.input-group-btn{
	border-width: 2px;
	border-left: 0;
	height: 40px;
	min-width:100px;	
}
.input-group-actionBtn{
	margin-left:20px !important;	
}
.search-results{
	margin-top:50px;	
}
/*.input-group-alt .form-control{
	border-width:1px;
	height:39px;
	border:none;
}
.input-group-alt .input-group-addon{
	background-color: #f5f5f5;
	border-radius: 0;
	border-color: #f5f5f5;
	padding-right: 0;
	font-size:18px;	
}*/
/** Dashboard */
#dash-wrap{
	margin-left:-15px;	
}
.grid{
	background: url(../img/bg-grid.png);
	height: 200px;
	width:100%;
	z-index: 1000;
	position: absolute;
	margin-top: -200px;
	background-repeat:repeat;
	right:0;
}
.grid-250{
	width:200px;
	left: 140px;
}

#chart_domains {
	float: left;
}
/*#cover_chart_domains {
	background: url(../img/bg-grid.png);
	height: 200px;
	width: 100%;
	z-index: 1000;
	position: absolute;
	margin-top: -200px;
	margin-left: 195px;
	background-repeat:repeat
}
#cover_chart_clients {
	background: url(../img/bg-grid.png);
	height: 200px;
	min-width: 200px;
	z-index: 1000;
	position: absolute;
	margin-top: -200px;
	background-repeat:repeat;
}
#cover_box_balance {
	background: url(../img/bg-grid.png);
	height: 100px;
	width: 100%;
	z-index: 1000;
	position: absolute;
	margin-top: -100px;
	background-repeat:repeat;
	float:left;
}*/
.box{
	-webkit-box-shadow: 1px 2px 8px 2px #ccc;
    box-shadow: 1px 2px 8px 2px #ccc;
	padding:20px;
	margin-bottom:30px;
}

.box-alt{
	background-color:#f5f5f5	;
	min-height:150px;
	float:left;
	margin-bottom:30px;
	width:100%;
}
.box-alt h3{
	padding-top:0;	
}
.box-balance {
	margin: 15px 0;
	border: 10px solid #ccc;
	font-family: 'Euros';
	font-size: 50px;
	text-align: center;
}

.box-balance div {
	background: #000;
	color: #B7DB27;
	margin: 2px;
}
.text-balance {
	margin: 30px 0 20px 0;
}

.box h4{
	font-family:'Eurostile', sans-serif;
	padding-top:0;
	margin-bottom:10px;
	margin:0;
	font-size: 23px;
}

.box .icon-svg{
	margin-bottom:10px;	
}

/** HiChart CSS addition */
.highcharts-container{
	margin:auto;	
}

.icon-download{
  	display: block;
  	background:url(../svg/icon-download.svg);
  	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
	height: 80px;
}
.icon-upload{
	display: block;
  	background:url(../svg/icon-upload.svg);
  	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
	height: 80px;	
}
.icon-envelope{
	display: block;
  	background:url(../svg/icon-envelope.svg);
  	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
	height: 80px;
}
.icon-badge {
	display: block;
  	background:url(../svg/icon-badge.svg);
  	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
	height: 80px;
	position: relative;
	margin-top: -21px;
	color: #fff;
	text-align: center;
	padding-left: 44px;
	padding-top: 17px;
	font-size: 16px;
}
.icon-user-md{
	display: block;
  	background:url(../svg/icon-user-md.svg);
  	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
	height: 80px;
}
.icon-message {
	display: block;
  	background:url(../svg/icon-message.svg);
  	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
	height: 80px;
	position: relative;
	margin-top: -21px;
	color: #fff;
	text-align: center;
	padding-left: 45px;
	padding-top: 14px;
	font-size: 16px;
}
.icon-users{
	display: block;
  	background:url(../svg/icon-users.svg);
  	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
	height: 80px;	
}

.icon-chain{
	display: block;
  	background:url(../svg/icon-chain.svg);
  	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
	height: 80px;	
}

/** Tablet */
@media only screen and (max-width: 992px){
	aside{
		width:100px;	
	}
	nav ul ul{
		display:block;
		position: absolute;
		margin-left: 100px;
		background-color: #1a1a1a;
		min-width: 215px;
		margin-top: -70px;
	}
	nav >ul >li{
		height:70px;	
	}
	.nav-hr{
		width:50px !important;	
	}
	#main{
		margin-left:100px;	
	}
	.page-modal{
		padding-left:175px;	
	}
	.modal-backdrop-alt{
		margin-left:100px;
	}
	.page-modal-2{
		padding-left:255px;	
	}
	.modal-backdrop-alt-2{
		margin-left:100px;
	}

}
@media(max-width:1440px){
	.box-md-6{
		width:50%;	
	}
	.box-md-12{
		width:100%;
	}
}

@media(max-width:1100px) {
	.box-md-6{
		width:100%;	
	}	
	#chart_domains {
		text-align: center;
		float: none;
	}
	.grid-250 {
		left: 280px;
	}
}
@media(max-width:769px) {
	.pm-lt-caret {
		margin-left: 0;
	}
}
/** helper classes - bs overwrites */
#content .page-header{
	margin-top:0;	
	font-family:'Eurostile', sans-serif;
	font-size:40px;
	color:#595959;
	border-bottom:none;
	padding-top:10px;
	padding-bottom: 20px;
	margin-bottom: 7px;
}
.text-muted{
	/** bs default */	
}
.text-primary{
	color:#1d1d1d;
}
.text-success{
	color:#b7db27  !important;	
}
.text-success-alt{
	color:#66d74c  !important;	
}
.text-info{
	color:#3088cd  !important;
}
.text-warning{
	color:#ffe827 !important;
}
.text-warning-alt{
	color:#fdad50  !important;	
}
.text-danger{
	color:#d2392a  !important;
}
.text-white{
	color:#fafafa;	
}
.center{
	text-align:center;	
}
.pull-text{
	text-align:right;	
}
.inline-block{
	display:inline-block;	
}
.display-block{
	display:block;	
}
.pull{
	float:right;	
}
.push{
	float:left;	
}
.inline{
	display:inline;	
}
.pointer{
	cursor:pointer;	
}
.no-border{
	border:none;	
}
.remove-gutters{
	padding-right:0;
	padding-left:0;	
}
.no-lt-gutter{
	padding-left:0;	
}
.no-rt-gutter{
	padding-right:0;	
}
.dbl-rt-gutter{
	padding-right:30px;	
}
.fw{
	width:100% !important;	
}
.bg-muted{
	background-color:#f5f5f5;
}
.collapse-gap{
	margin-bottom:20px;	
}
.input-sml{
	width:100px;	
}
.gap{
	width:20px;
	display:inline-block	
}


