/* CSS Document */

/** 
	Abbrs
	
	bs = bootstrap


*/
html{
	background:#fff;
}
body{
	height:100%;	
	background-color:#1a1a1a;
}

body,
p{
	color:#1d1d1d;	
}
a{
	color:#b7db27;		
}
a:hover,
a:focus,
a:active,
a.active{
	color:#b7db27;		
}
aside{
	display: block;
	background: #1a1a1a;
	min-height: 100%;
	width:345px;	
}


/** Top Header */
#header{
	display: block;
	height: 45px;
	background-color:#1a1a1a;
	z-index: 905;	
	position:fixed;
	width:100%;
}

#left-panel{
	position:fixed;
	top: 0;
	left: 0;
	z-index: 904;
	padding-top: 45px;	
}
#top-group .nav li{
	float:left;	
}
#top-group .nav > li:after{
	content: " ";
	color: #fff;
	border-left: 1px solid #fff;
	position: absolute;
	top: 6px;
	height: 32px;
}
#top-group .nav ul li{
	width:100%;	
}
#top-group .nav ul{
	width:100%;
	border-color:#1a1a1a;
	position:relative;
}
#top-group .nav li a{
	color:#b7b7b7;
	padding-top:10px;
	padding-bottom:9px;
	font-size:120%;
	font-weight:200;
}
#top-group .nav>li>a:hover, 
#top-group .nav>li>a:focus,
#top-group .nav>li>a:active,
#top-group .nav>li>a.active{
	background-color:transparent;	
}

#top-group .nav .open>a, 
#top-group .nav .open>a:hover, 
#top-group .nav .open>a:focus{
	background-color:transparent;	
}
#top-group .nav ul{
	background-color:#1a1a1a;
	border-radius:0;
	padding-top:0;
}
#top-group .nav li a:hover,
#top-group .nav li a:focus,
#top-group .nav li a.active,
#top-group .nav li a:active{
	background-color:#2b2b2b;
}

#top-group .nav li a .fa{
	color:#fff;
}


/** left nav */
nav{
	color:#fff;	
}

nav .panel{
	margin-bottom:0;
	background-color:transparent;
	border:none;
	box-shadow:none;	
}

nav ul{
	list-style:none;
}
nav ul ul{
	padding-left:0;	
}
nav .nav>li>a:hover, 
nav .nav>li>a:focus,
nav .nav>li>a:active,
nav .nav>li>a.active{
	background-color:#2b2b2b;	
}

nav .nav > li > a.active:before {
	content: "\f0d9";
	font-family: FontAwesome;
	display: block;
	line-height: normal;
	width: 27px;
	position: absolute;
	right: -16px;
	font-size: 36px;
	color: #fff;
	line-height: 35px;
}

.nav-pointer-backdrop:before{
	color:rgba(255,255,255,0.41) !important;
}
.nav-pointer-backdrop-2:before{
	color:rgba(255,255,255,0.09) !important;
}

nav a{
	color:#fff;	
}
nav .nav li a{
	padding:10px 25px;	
}
nav .nav > li > a > .fa-fw{
	width:35px;	
	text-align:left;
}
nav .nav li a{
	font-size: 150%;
	font-weight: 100;
	letter-spacing: 1px;	
}
nav .nav ul li a{
	font-size:105%;	
}
nav .nav ul li{
	line-height:200%;	
}

nav .nav li a .fa{
	color:#fff;	
}

/** top cart */
.top-cart{
	color:#fff;	
	min-width:250px;	
}
.top-cart .cart-contents{
	background-color:#2b2b2b;	
}
.top-cart table{
	width:100%;
}
.top-cart table td{
	border-bottom:1px solid #5a5a5a;
	padding:10px 0;	
	line-height:14px;
}
.top-cart table tr:last-child td{
	border-bottom:none;	
}
.top-cart div:last-child{
	padding-top:15px;
	padding-bottom:10px;	
}


/** buttons */
.btn{
	border-radius:0;	
	color:#1d1d1d;
}
.btn-default{
	/** bs default */	
}
.btn-info{
	/** bs default */	
}
.btn-success{
	background-color:#badc1b;
	border-color: #d9f95f;	
}
.btn-warning{
	/** bs default */	
}
.btn-danger{
	/** bs default */	
}
.btn-default-alt{
	background-color:#bdbdbd;
	border-color: #bdbdbd;	
}


.btn-success:hover,
.btn-success:focus,
.btn-success.active,
.btn-success:active{
	background-color:#badc1b;
	border-color: #d9f95f;	
}
	
.btn-default-alt:hover,
.btn-default-alt:focus,
.btn-default-alt.active,
.btn-default-alt:active{
	background-color:#fff;
	border-color:#adadad;
	color: #1d1d1d;	
}

/** form elements */
::-webkit-input-placeholder {
   color: #1d1d1d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #1d1d1d; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #1d1d1d; 
}

:-ms-input-placeholder {  
   color: #1d1d1d; 
}

label{
	color:#919191;
	font-weight:400;	
}
.form-control{
	border-radius:0;	
	color:#1d1d1d;
	background-color:#fafafa;
	box-shadow:none;
	border-color:#e3e3e3;
	border-width: 2px;
	padding: 18px 12px;
}

/** Content */
#main{
	margin-left: 345px;
	padding-top: 45px;
	height:100%;
}
#content{
	padding-left: 30px;
	/*padding-right: 30px;*/
	padding-top:15px;
	width:100%;
	float:left;
	height:100%;
	background-color:#fff;
}

/** Modal */
.modal-title > span{
	margin-top: 5px;
	position: absolute;
	display: inline-block;
	margin-left: 15px;	
}
.modal-backdrop-alt{
	margin-left:345px;
	margin-top:45px;	
}
.page-modal{
	top: 45px;
	width: 100%;
	padding-left: 420px;
	min-height: 600px;
}

.page-modal .modal-dialog{
	margin-top:0;
	width:100%;
}	
.page-modal .modal-content{
	border:none;
	border-radius:0;
	min-height:1000px;
}

.modal-backdrop-alt-2{
	margin-left:345px;
	margin-top:45px;	
	z-index:1050;
}
.page-modal-2{
	padding-left:500px;	
	z-index:1060;
}


.page-modal.fade {
  left: 100%;
  height:100%;
  -webkit-transition: opacity 0s linear, left 0.2s linear;
     -moz-transition: opacity 0s linear, left 0.2s linear;
       -o-transition: opacity 0s linear, left 0.2s linear;
          transition: opacity 0s linear, left 0.3s linear;
}

.page-modal.fade.in {
  left:0;
}​


/** Tablet */
@media only screen and (max-width: 990px){
	aside{
		width:70px;	
	}
	nav ul ul{
		display:block;
		position: absolute;
		margin-left: 70px;
		background-color: #1a1a1a;
		min-width: 215px;
		margin-top: -50px;
	}
	nav > ul > li{
		height:50px;	
	}
	#main{
		margin-left:70px;	
	}
}


/** Tab Elements */
.nav-tabs {
	border-bottom: 2px solid #B7DB27;
}
.nav-tabs > li a {
	color: gray;
}
.nav-tabs > li.active a,
.nav-tabs > li.active a:hover,
.nav-tabs > li.active a:focus {
	outline: none;
	border: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	outline: none;
	background: transparent;
	border-color: transparent;
}
.nav-tabs > li:hover a:before,
.nav-tabs > li.active a:before {
	text-align: center;
	margin-left: -15px;
	content: "\f0d8";
	font-family: FontAwesome;
	display: block;
	height: 27px;
	line-height: normal;
	width: 100%;
	position: absolute;
	bottom: -14px;
	font-size: 20px;
	color: #B7DB27;
}



/** helper classes - bs overwrites */
#content .page-header{
	margin-top:0;	
}
.text-muted{
	/** bs default */	
}
.text-primary{
	color:#1d1d1d;
}
.text-success{
	color:#b7db27;	
}
.text-success-alt{
	color:#66d74c;	
}
.text-info{
	color:#3088cd;
}
.text-warning{
	color:#ffe827;
}
.text-warning-alt{
	color:#fdad50;	
}
.text-danger{
	color:#d2392a;
}
.text-white{
	color:#fafafa;	
}
.center{
	text-align:center;	
}
.pull-text{
	text-align:right;	
}
.inline-block{
	display:inline-block;	
}
.pull{
	float:right;	
}
.push{
	float:left;	
}
.inline{
	display:inline;	
}

