/* CSS Document */

/** Google font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/** 
	Abbrs
	
	bs = bootstrap


*/
body,
html{
	min-height:100%;	
	background-color:#1a1a1a;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

body,
p{
	color:#1d1d1d;	
}
a{
	color:#b7db27;		
}
a:hover,
a:focus,
a:active,
a.active{
	color:#b7db27;		
}
aside{
	display: block;
	background: #1a1a1a;
	min-height: 100%;
	width:345px;	
}

.clear {
	clear: both;
}

/** Top Header */
#header{
	display: block;
	height: 45px;
	background-color:#1a1a1a;
	z-index: 905;	
	position:fixed;
	width:100%;
}

#left-panel{
	position:absolute;
	top: 0;
	left: 0;
	z-index: 904;
	padding-top: 45px;	
}
#top-group .nav li{
	float:left;	
}
#top-group .nav > li:after{
	content: " ";
	color: #fff;
	border-left: 1px solid #fff;
	position: absolute;
	top: 6px;
	height: 32px;
}
#top-group .nav ul li{
	width:100%;	
}
#top-group .nav ul{
	width:100%;
	border-color:#1a1a1a;
	position:relative;
}
#top-group .nav li a{
	color:#b7b7b7;
	padding-top:10px;
	padding-bottom:9px;
	font-size:120%;
	font-weight:200;
}
#top-group .nav>li>a:hover, 
#top-group .nav>li>a:focus,
#top-group .nav>li>a:active,
#top-group .nav>li>a.active{
	background-color:transparent;	
}

#top-group .nav .open>a, 
#top-group .nav .open>a:hover, 
#top-group .nav .open>a:focus{
	background-color:transparent;	
}
#top-group .nav ul{
	background-color:#1a1a1a;
	border-radius:0;
	padding-top:0;
}
#top-group .nav li a:hover,
#top-group .nav li a:focus,
#top-group .nav li a.active,
#top-group .nav li a:active{
	background-color:#2b2b2b;
}

#top-group .nav li a .fa{
	color:#fff;
}


/** left nav */
nav{
	color:#fff;	
}

nav .panel{
	margin-bottom:0;
	background-color:transparent;
	border:none;
	box-shadow:none;	
}

nav ul{
	list-style:none;
}
nav ul ul{
	padding-left:0;	
}
nav .nav>li>a:hover, 
nav .nav>li>a:focus,
nav .nav>li>a:active,
nav .nav>li>a.active{
	background-color:#2b2b2b;	
}

nav .nav > li > a.active:before {
	content: "\f0d9";
	font-family: FontAwesome;
	display: block;
	line-height: normal;
	width: 27px;
	position: absolute;
	right: -16px;
	font-size: 36px;
	color: #fff;
	line-height: 35px;
}

nav a{
	color:#fff;	
}
nav .nav li a{
	padding:10px 25px;	
}
nav .nav > li > a > .fa-fw{
	width:35px;	
	text-align:left;
}
nav .nav li a{
	font-size: 150%;
	font-weight: 100;
	letter-spacing: 1px;	
}
nav .nav ul li a{
	font-size:105%;	
}
nav .nav ul li{
	line-height:200%;	
}

nav .nav li a .fa{
	color:#fff;	
}

/** top cart */
.top-cart{
	color:#fff;	
	min-width:250px;	
}
.top-cart .cart-contents{
	background-color:#2b2b2b;	
}
.top-cart table{
	width:100%;
}
.top-cart table td{
	border-bottom:1px solid #5a5a5a;
	padding:10px 0;	
	line-height:14px;
}
.top-cart table tr:last-child td{
	border-bottom:none;	
}
.top-cart div:last-child{
	padding-top:15px;
	padding-bottom:10px;	
}

/** table */
.table i.fa {
	margin-right: 5px;
}

.col-center {
	text-align: center;
}

/** popover */
.link {
	cursor: pointer;
}
.popover.popover-options {
	margin-top: -27px;
	border-radius: 0;
	padding: 0;
	border-color: #eee;
}
.popover.popover-options .popover-inner {
	border-radius: 0;
}
.popover.popover-options .popover-title {
	font-weight: bold;
	border-radius: 0;
}
/** dropdown menu */
.btn-group-action .caret {
	margin-left: 5px;
}
.btn-group-action .dropdown-menu {
	margin-bottom: 3px;
	border-radius: 0;
	padding: 0;
}
.btn-group-action .dropdown-menu li {
	margin: 0;
	padding: 0;
}
.btn-group-action .dropdown-menu li a {
	padding: 10px 20px;
}
.btn-group-action .dropdown-menu li a i.fa {
	width: 20px;
}
.btn-group label {
	line-height: 33px;
	margin-right: 10px;
}
.btn-group-autowidth .dropdown-menu {
	min-width: 0;
}
.btn-group-action .dropdown-menu li a:hover {
	background: #B7DB27;
}

/** datatables */
.dataTables_filter {
	float: right;
}
.dataTables_filter input {
	border: 0;
	background: #f5f5f5;
	padding: 5px 8px;
	margin-left: 8px;
}
.dataTables_length {
	float: right;
}
.dataTables_length .select2-container {
	margin-left: 8px;
}
.paginate_button {
	padding: 3px 8px;
	border: 1px solid #ccc;
	margin: 2px;
	color: #666;
	font-weight: normal;
}
.paginate_button.current {
	color: #000;
	font-weight: bold;
}
.dataTables_length label select {
	margin-left: 5px;
}

/** pagination */
.pagination {
	margin: 0;
}
.pagination > li:first-child a,
.pagination > li:last-child a {
	
	border-radius: 0;
}
.pagination > li a {
	padding: 3px 8px;
	margin: 2px;
}

/** buttons */
.btn{
	border-radius:0;	
	color:#1d1d1d;
}
.btn-default{
	/** bs default */	
}
.btn-info{
	/** bs default */	
}
.btn-success{
	background-color:#badc1b;
	border-color: #d9f95f;	
}
.btn-warning{
	/** bs default */	
}
.btn-danger{
	/** bs default */	
}
.btn-default-alt{
	background-color:#bdbdbd;
	border-color: #bdbdbd;	
}


.btn-success:hover,
.btn-success:focus,
.btn-success.active,
.btn-success:active{
	background-color:#badc1b;
	border-color: #d9f95f;	
}
	
.btn-default-alt:hover,
.btn-default-alt:focus,
.btn-default-alt.active,
.btn-default-alt:active{
	background-color:#fff;
	border-color:#adadad;
	color: #1d1d1d;	
}

/** form elements */
::-webkit-input-placeholder {
   color: #1d1d1d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #1d1d1d; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #1d1d1d; 
}

:-ms-input-placeholder {  
   color: #1d1d1d; 
}

label{
	color:#919191;
	font-weight:400;	
}
.form-control{
	border-radius:0;	
	color:#1d1d1d;
	background-color:#fafafa;
	box-shadow:none;
	border-color:#e3e3e3;
	border-width: 2px;
	padding: 18px 12px;
}

/** Content */
#main{
	margin-left: 345px;
	padding-top: 45px;
}
#content{
	padding-left: 30px;
	padding-right: 30px;
	padding-top:15px;
	width:100%;
	float:left;
	min-height:1000px;
	background-color:#fff;
}

/** Modal */
.modal-title > span{
	margin-top: 5px;
	position: absolute;
	display: inline-block;
	margin-left: 15px;	
}

/** Tablet */
@media only screen and (max-width: 990px){
	aside{
		width:70px;	
	}
	nav ul ul{
		display:block;
		position: absolute;
		margin-left: 70px;
		background-color: #1a1a1a;
		min-width: 215px;
		margin-top: -50px;
	}
	nav > ul > li{
		height:50px;	
	}
	#main{
		margin-left:70px;	
	}
}


/** Tab Elements */
.nav-tabs {
	border-bottom: 2px solid #B7DB27;
}
.nav-tabs > li a {
	color: gray;
}
.nav-tabs > li.active a,
.nav-tabs > li.active a:hover,
.nav-tabs > li.active a:focus {
	outline: none;
	border: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	outline: none;
	background: transparent;
	border-color: transparent;
}
.nav-tabs > li:hover a:before,
.nav-tabs > li.active a:before {
	text-align: center;
	margin-left: -15px;
	content: "\f0d8";
	font-family: FontAwesome;
	display: block;
	height: 27px;
	line-height: normal;
	width: 100%;
	position: absolute;
	bottom: -14px;
	font-size: 20px;
	color: #B7DB27;
}



/** helper classes - bs overwrites */
#content .page-header{
	margin-top:0;	
}
.text-muted{
	/** bs default */	
}
.text-primary{
	color:#1d1d1d;
}
.text-success{
	color:#b7db27;	
}
.text-success-alt{
	color:#66d74c;	
}
.text-info{
	color:#3088cd;
}
.text-warning{
	color:#ffe827;
}
.text-warning-alt{
	color:#fdad50;	
}
.text-danger{
	color:#d2392a;
}
.text-white{
	color:#fafafa;	
}
.center{
	text-align:center;	
}
.pull-text{
	text-align:right;	
}
.inline-block{
	display:inline-block;	
}
.pull{
	float:right;	
}
.push{
	float:left;	
}
.inline{
	display:inline;	
}

